/* VERSION MOBILE */

@media screen and (max-width: 768px) {
  .liste-projets {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    gap: 20px;
    align-items: center;
  }
}

/* DESKTOP */

.projets {
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.projets h1 {
  margin-bottom: 10%;
}

.projets h1,
h2 {
  text-align: center;
  color: var(--titre-color);
  font-family: var(--font-titres);
}

.liste-projets {
  display: flex;
  justify-content: space-between;
}

.liste-projets > div {
  display: inline-block;
  margin: 0 10px;
  width: 100%;
  box-sizing: border-box;
}

/* CARTES PROJETS */

.liste-projets h3 {
  margin-bottom: 0;
  color: var(--soustitre-color);
  font-family: var(--font-titres);
}

.projet-1 {
  border: var(--border-color);
  border-radius: 10px;
  padding: 10px;
  background: var(--cases-bg);
}

.projet-2 {
  border: var(--border-color);
  border-radius: 10px;
  padding: 10px;
  background: var(--cases-bg);
}

.projets button {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  border-radius: 5px;
  background: var(--boutons-bg);
  border: var(--border-color);
  color: var(--soustitre-color);
  font-family: var(--font-textes);
}

.todo-lien {
  cursor: pointer;
}

.todo-lien:hover {
  background: var(--boutons-hover);
}

.capteam-lien {
  cursor: pointer;
}

.capteam-lien:hover {
  background: var(--boutons-hover);
}
