.reseaux {
  border: none;
  display: flex;
  justify-content: center;
}

.reseaux button {
  cursor: pointer;
  font-family: var(--font-textes);
  background: var(--boutons-bg);
  margin: 10px;
  border-radius: 5px;
  border: none;
}

.reseaux button:hover {
  background: var(--boutons-hover);
}

.reseaux img {
  padding-right: 5px;
}
