.skills {
  text-align: center;
  width: 100%;
}

.skills-categories {
  display: flex;
  justify-content: space-between;
}

.skills-categories > div {
  display: inline-block;
  margin: 0 10px;
  width: 100%;
  box-sizing: border-box;
}

.skills h1,
h2 {
  text-align: center;
}

.skills-categories p {
  margin-bottom: 0;
}

.design {
  border: 1px black solid;
  border-radius: 10px;
  padding: 5px;
  background: #333333;
}

.frontend {
  border: 1px black solid;
  border-radius: 10px;
  padding: 5px;
  background: #333333;
}

.backend {
  border: 1px black solid;
  border-radius: 10px;
  padding: 5px;
  background: #333333;
}

.other {
  border: 1px black solid;
  border-radius: 10px;
  padding: 5px;
  background: #333333;
}
