/* VERSION MOBILE */

@media screen and (max-width: 768px) {
  .skills-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;
    gap: 20px;
    align-items: center;
  }
  .design,
  .frontend {
    flex-basis: 40%;
  }

  .backend,
  .other {
    flex-basis: 40%;
  }
}

/* DESKTOP */

.skills {
  text-align: center;
  width: 100%;
}

.skills h1 {
  margin-bottom: 5%;
}

.skills h1,
h2 {
  text-align: center;
  color: var(--titre-color);
  font-family: var(--font-titres);
}

.skills-categories {
  display: flex;
  justify-content: space-between;
}

.skills-categories > div {
  display: inline-block;
  margin: 0 10px;
  width: 100%;
  box-sizing: border-box;
}

/* CARTES CATÉGORIES */

.skills-categories p {
  margin-bottom: 0;
  color: var(--soustitre-color);
  font-family: var(--font-textes);
}

.design {
  border: 1px black solid;
  border-radius: 10px;
  padding: 5px;
  background: var(--cases-bg);
  border: var(--border-color);
}

.logo-design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-design p {
  margin-bottom: 10px;
}

.frontend {
  border: 1px black solid;
  border-radius: 10px;
  padding: 5px;
  background: var(--cases-bg);
  border: var(--border-color);
}

.logo-frontend {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-frontend p {
  margin-bottom: 10px;
  margin-left: 5px;
}

.backend {
  border-radius: 10px;
  padding: 5px;
  background: var(--cases-bg);
  border: var(--border-color);
}

.logo-backend {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-backend p {
  margin-bottom: 10px;
  margin-left: 5px;
}

.other {
  border: var(--border-color);
  border-radius: 10px;
  padding: 5px;
  background: var(--cases-bg);
}

.other-github {
  display: flex;
  align-items: center;
  justify-content: center;
}

.other-github p {
  margin-bottom: 10px;
  margin-left: 5px;
}

.other-node {
  display: flex;
  align-items: center;
  justify-content: center;
}

.other-node p {
  margin-bottom: 10px;
  margin-left: 5px;
}
