.cv {
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10%;
}

.cv h1 {
  color: var(--titre-color);
  font-family: var(--font-titres);
}

.cv button {
  cursor: pointer;
  border-radius: 5px;
  background: var(--boutons-bg);
  border: var(--border-color);
  color: var(--soustitre-color);
  font-family: var(--font-textes);
}

.cv button:hover {
  background: var(--boutons-hover);
}

.img-cv img {
  border-radius: 10px;
  margin-bottom: 10px;
}
