/* VERSION MOBILE */

@media screen and (max-width: 768px) {
  .liens-contact {
    display: flex;
    flex-wrap: wrap;

    width: 90%;
  }
}

/* DESKTOP */

.contact h1 {
  display: flex;
  justify-content: center;
  color: var(--titre-color);
  font-family: var(--font-titres);
  margin-top: 20%;
}

.liens-contact {
  border: none;
  display: flex;
  justify-content: center;
}

.liens-contact button {
  font-family: var(--font-textes);
}

.contact img {
  padding-right: 5px;
}

.contact-mail {
  margin: 10px;
  background: var(--boutons-bg);
  border: none;
  border-radius: 5px;
}

.contact-linkedin {
  margin: 10px;
  background: var(--boutons-bg);
  border: none;
  border-radius: 5px;
}

.contact-github {
  margin: 10px;
  background: var(--boutons-bg);
  border: none;
  border-radius: 5px;
}

.contact button {
  cursor: pointer;
  color: var(--soustitre-color);
}

.contact button:hover {
  background: var(--boutons-hover);
}
