/* VERSION DESKTOP */

html {
  scroll-behavior: smooth;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar {
  position: fixed;
  top: 0px;
  padding-top: 10px;
  font-size: 1.2rem;
  background: #262626;
  width: 100%;
  height: 8%;
}

.navbar li {
  margin-right: 15px;
  cursor: pointer;
}

.navbar a {
  color: var(--titre-color);
  text-decoration: none;
  font-family: var(--font-titres);
}

.navbar li:hover {
  text-decoration: underline;
}
