html {
  scroll-behavior: smooth;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 1.2rem;
}

.navbar li {
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
}

.navbar a {
  color: var(--titre-color);
  text-decoration: none;
  font-family: var(--font-titres);
}

.navbar li:hover {
  text-decoration: underline;
}
