.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  padding-top: 20px;
  border-top: var(--border-color);
}

.footer button {
  cursor: pointer;
}

.footer button:hover {
  background: var(--boutons-hover);
}
