:root {
  --cases-bg: #f6eee7;
  --boutons-bg: #f0e4d9;
  --boutons-hover: #e4cdb7;
  --border-color: 1px solid #cea37e;
  --titre-color: #3e332e;
  --soustitre-color: #815e46;
  --font-titres: "Rum Raisin", sans-serif;
  --font-textes: "Calistoga", serif;
}

body {
  background: #fefdfc;
  background-attachment: fixed;
}

/* Rubrique présentation */

.page-presentation {
  height: 100vh;
}

.page-presentation h1 {
  padding-top: 10%;
  color: var(--titre-color);
  font-family: var(--font-titres);
}

.page-presentation h2 {
  color: var(--titre-color);
  font-family: var(--font-titres);
}

.page-presentation p {
  padding-top: 5%;
  color: var(--soustitre-color);
  font-family: var(--font-textes);
}

.liens-reseaux {
  padding-top: 5%;
}

.div-principale h1,
h2,
p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Rubrique skills */

.skills-container {
  height: 50vh;
}

/* Rubrique projet */

.projets-container {
  height: 50vh;
}

/* Rubrique contact */

.contact-container {
  height: 50vh;
}

/* Rubrique CV */

.cv-container {
  height: 25vh;
}
